<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95105235422-t7u1q3n83dcm08iulqvl07opuf04764d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95105235422-t7u1q3n83dcm08iulqvl07opuf04764d</string>
	<key>API_KEY</key>
	<string>AIzaSyDB_W4VqwufozCFUnWLHcRlU-67IHq8rpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>95105235422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adrianminnich.MessageMe</string>
	<key>PROJECT_ID</key>
	<string>messageme-40442</string>
	<key>STORAGE_BUCKET</key>
	<string>messageme-40442.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95105235422:ios:6338d5477368686070c54f</string>
	<key>DATABASE_URL</key>
	<string>https://messageme-40442-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>